    	<script>

            /*--------------------------------------------------------------------------------------------------*/
           /*----------------------GRAFICA COMPARATIVA horarios  total  ---------------------------------------*/
          /*--------------------------------------------------------------------------------------------------*/

			var chartData1 = {{ total | safe }};
			var chartData2 = {{ resto | safe }};
			var chartData3 = {{ valle | safe }};
			var chartData4 = {{ punta | safe }};


			//noinspection JSUnresolvedFunction
            AmCharts.makeChart("chartdiv", {

				type: "stock",
				addClassNames: true,


                dataDateFormat: "YYYY-MM",



				categoryAxesSettings: {
						minPeriod: "MM"
					},

				dataSets: [{
					title: "Energia Total",
					fieldMappings: [{
						fromField: "value",
						toField: "value"
					}, {
						fromField: "volume",
						toField: "volume"
					}],
					//dataDateFormat: "YYYY-MM"
					dataProvider: chartData1,
					color: "#d9601a",

					categoryField: "date"
				},

				{
					title: "Horario Resto",
					fieldMappings: [{
						fromField: "value",
						toField: "value"
					}, {
						fromField: "volume",
						toField: "volume"
					}],
					dataProvider: chartData2,
					color: "#b03355",
					categoryField: "date"
				},

				{
					title: "Horario Valle",
					fieldMappings: [{
						fromField: "value",
						toField: "value"
					}, {
						fromField: "volume",
						toField: "volume"
					}],
					dataProvider: chartData3,
                    color:"#2fa246",
					categoryField: "date"
				},

				{
					title: "Horario Punta",
					fieldMappings: [{
						fromField: "value",
						toField: "value"
					}, {
						fromField: "volume",
						toField: "volume"
					}],
					dataProvider:chartData4,
					categoryField: "date"
				}],

				panels: [{
                    valueAxis: "value",
					recalculateToPercents: "never",
					showCategoryAxis: false,
					title: "Energia",
					percentHeight: 70,
                    fontSize:17,


					stockGraphs: [{
                        fontSize:17,
						id: "g1",
						type: "smoothedLine",
						valueField: "value",
						lineThickness: 3,
						comparable: true,
						compareField: "value",
						bullet: "round",
						//bulletBorderColor: "#FFFFFF",
						bulletColor:"#FFFFFF",
						bulletBorderAlpha: 0.1,
						balloonText: "[[title]]:<b>[[value]] KW-h</b>",
                        compareGraphType:"smoothedLine",
						compareGraphBalloonText: "[[title]]:<b>[[value]]KW-h</b>",
						compareGraphBullet: "round",
						compareGraphBulletBorderColor: "#FFFFFF",
						compareGraphBulletBorderAlpha: 1,
                        compareGraphLineThickness:3,
                        ValueAxesSettings:{
                        unit:"KW-h"
                }

					}],



					stockLegend: {
                        valueText:"Kw/h",
						//periodValueTextComparing: "[[value.close]]%",
						//periodValueTextRegular: "[[value.close]]"
					}
				},

				{
					title: "Costo",
					recalculateToPercents: "never",
					percentHeight: 30,
                    fontSize:17,
					stockGraphs: [{
                        unit: "Kw/h",
						valueField: "volume",
						comparable: true,
						compareField: "volume",
						type: "column",
						compareGraphType:"column",
						compareGraphFillAlphas:1,
						showBalloon: true,
                        balloonText: "[[title]]:<b>$[[value]]</b>",
						fillAlphas: 1
					}],


					stockLegend: {
						periodValueTextRegular: "$[[value]]"
					}
				}],



				chartScrollbarSettings: {
					graph: "g1",
					updateOnReleaseOnly:false,
                    autoGridCount: true,

				},

				chartCursorSettings: {
					valueBalloonsEnabled: true,
					valueLineEnabled:true,
					valueLineBalloonEnabled:true
				},

				periodSelector: {
					position: "left",
					periods: [{


						period: "YYYY",
						count: 1,
                        selected: true,
						label: "1 año"
					},{
						period: "YYYY",
						count: 2,
                        label: "2 años"
					},{
						period: "YYYY",
						count: 5,
                        label: "5 años"
					},  {
						period: "MAX",

						label: "MAX"
					}],
                    inputFieldsEnabled:"true",
                    periodsText:"Rango",
                    fromText:"Desde",
                    dateFormat:"MM-YYYY",
                    toText:"Hasta"
				},

				dataSetSelector: {
					position: "left",
                    fontSize:17
				},

                "export": {
                    "enabled": true
                }
			});
		</script>



    <script>
           /*--------------------------------------------------------------------------------------------------*/
           /*------------------------GRAFICA COMPARATIVA totales  ---------------------------------------------*/
          /*--------------------------------------------------------------------------------------------------*/
            //noinspection JSUnresolvedFunction
            var chart = AmCharts.makeChart("chartdiv2", {
  "type": "serial",
  "theme": "light",
  "dataDateFormat": "YYYY-MM",
   "addClassNames": true,
  "fontSize":17,
  "precision": 2,
  "valueAxes": [{
    "id": "v1",
    "title": "Costo",
    "position": "left",
    "autoGridCount": false,
    "labelFunction": function(value) {
      return "$" + Math.round(value) ;
    }
  }, {
    "id": "v2",
    "title": "Energia ",
    "gridAlpha": 0,
    "position": "right",
    "autoGridCount": false,
    "labelFunction": function(value) {
      return Math.round(value) + "KW-h";
  }}],
  "graphs": [{
    "id": "g3",
    "valueAxis": "v1",
    "lineColor": "#e1ede9",
    "fillColors": "#e1ede9",
    "fillAlphas": 1,
    "type": "column",
    "title": "Costo Final",
    "valueField": "DineroTT",
    "clustered": false,
    "columnWidth": 0.5,
    "legendValueText": "$[[value]]",
    "balloonText": "[[title]]<br/><b style='font-size: 130%'>$[[value]]</b>"
  }, {
    "id": "g4",
    "valueAxis": "v1",
    "lineColor": "#62cf73",
    "fillColors": "#62cf73",
    "fillAlphas": 1,
    "type": "column",
    "title": "Costo energia",
    "valueField": "EnergiaD",
    "clustered": false,
    "columnWidth": 0.3,
    "legendValueText": "$[[value]]",
    "balloonText": "[[title]]<br/><b style='font-size: 130%'>$[[value]]</b>"
  }, {
    "id": "g1",
    "valueAxis": "v1",
    "bullet": "round",
    "bulletBorderAlpha": 1,
    "bulletColor": "#FFFFFF",
    "bulletSize": 5,
    "hideBulletsCount": 50,
    "lineThickness": 2,
    "lineColor": "#20acd4",
    "type": "smoothedLine",
    "title": "Costo de Potencia__",
    "useLineColorForBulletBorder": true,
    "valueField": "potenciaD",
    "clustered": false,
    "legendValueText": "$[[value]]",
    "balloonText": "[[title]]<br/><b style='font-size: 130%'>$[[value]]</b>"
  }, {
    "id": "g2",
    "valueAxis": "v2",
    "bullet": "round",
    "bulletBorderAlpha": 1,
    "bulletColor": "#FFFFFF",
    "bulletSize": 5,
    "hideBulletsCount": 50,
    "lineThickness": 2,
    "lineColor": "#800080",
    "type": "smoothedLine",
    "dashLength": 5,
    "title": "  Energia total",
    "useLineColorForBulletBorder": true,
    "valueField": "EnergiaT",
    "clustered": false,
    "legendValueText": "[[value]]KW-h",
    "balloonText": "[[title]]<br/><b style='font-size: 130%'>[[value]]KW-h</b>"
  }],
  "chartScrollbar": {
    "graph": "g1",
    "oppositeAxis": false,
    "offset": 30,
    "scrollbarHeight": 50,
    "backgroundAlpha": 0,
    "selectedBackgroundAlpha": 0.1,
    "selectedBackgroundColor": "#888888",
    "graphFillAlpha": 0.2,
    "graphLineAlpha": 0.5,
    "selectedGraphFillAlpha": 0,
    "selectedGraphLineAlpha": 1,
    "autoGridCount": true,
    "color": "#AAAAAA"
  },
  "chartCursor": {
    "pan": true,
    "valueLineEnabled": true,
    "valueLineBalloonEnabled": true,
    "cursorAlpha": 0,
    "valueLineAlpha": 1.5
  },
  "categoryField": "date",
  "categoryAxis": {
	  "minPeriod": "MM",
    "parseDates": true,
    "dashLength": 1,
    "minorGridEnabled": true
  },
  "legend": {
    "useGraphSettings": true,
    "position": "top"
  },
  "balloon": {
    "borderThickness": 3,
    "shadowAlpha": 0
  },
  "export": {
   "enabled": true
  },
  "dataProvider":{{ datos3 | safe }}
});
      </script>
<script>

          /*--------------------------------------------------------------------------------------------------*/
          /*----------------------GRAFICA COMPARATIVA 4 YEAR  ENERGIA ----------------------------------------*/
          /*--------------------------------------------------------------------------------------------------*/
    var chart2 = AmCharts.makeChart("chartdiv3", {
    "theme": "light",
    "type": "serial",
    "fontSize":17,
    "dataProvider":{{ datos | safe }},
    "valueAxes": [{
        "unit": "Kw/h",
        "position": "left",
        "title": "ENERGIA DEMANDADA"
    }],
    "startDuration": 0,
    "graphs": [{
        "balloonText": "[[category]] [[title]]: <br> <b>[[value]]Kw/h</b>",
        "fillAlphas": 0.9,
        "lineAlpha": 0.2,
        "title": "2004",
        "type": "column",
        "valueField": "year1"
    }, {
        "balloonText": "[[category]] [[title]]: <br> <b>[[value]]Kw/h</b>",
        "lineColor": "#B8860B",
        "fillColors": "#B8860B",
        "fillAlphas": 0.9,
        "lineAlpha": 0.5,
        "title": {{ titulo[0] }},
        "type": "column",
        "clustered":true,
        "valueField": "year4"
    },{
        "balloonText": "[[category]] [[title]]: <br> <b>[[value]]Kw/h</b>",

        "fillAlphas": 0.9,
        "lineAlpha": 0.5,
        "title": {{ titulo[1] }},
        "type": "column",
        "clustered":true,
        "valueField": "year3"
    },{
        "balloonText": "[[category]] [[title]]: <br> <b>[[value]]Kw/h</b>",

        "fillAlphas": 0.9,
        "lineAlpha": 0.5,
        "title": {{ titulo[2] }},
        "type": "column",
        "clustered":true,
        "valueField": "year2"
    }],
    "depth3D": 15,
	"angle": 35,
    "chartCursor": {
    "pan": true,
    "valueLineEnabled": true,
    "valueLineBalloonEnabled": true,
    "avoidBalloonOverlapping": true,
    "cursorAlpha": 0,
    "valueLineAlpha": 1.5
    },
    "plotAreaFillAlphas": 0.1,
    "categoryField": "mes",
    "categoryAxis": {
        "gridPosition": "start"
    },
    "legend": {
    "useGraphSettings": true,
    "position": "top",
    "valueText":""
  },
  "balloon": {
    "borderThickness": 3,
    "shadowAlpha": 0,
    "fontSize": 16
  },
    "export": {
    	"enabled": true
    }

});
function selectDataset(d) {
    chart2.dataProvider = chartcambio[d];
    chart2.validateData();
    chart2.animateAgain();
}
</script>


<script>
               /*--------------------------------------------------------------------------------------------------*/
              /*----------------------GRAFICA COMPARATIVA 4 YEAR  Dinero  ----------------------------------------*/
             /*--------------------------------------------------------------------------------------------------*/
var chart3 = AmCharts.makeChart("chartdiv4", {
    "theme": "light",
    "type": "serial",
    "fontSize":17,
    "dataProvider":{{ datos2 | safe }},
    "valueAxes": [{
        "unit": "$",
        "unitPosition":"left",
        "position": "left",
        "title": "COSTO ENERGIA DEMANDADA"
    }],
    "startDuration": 0,
    "graphs": [{
        "balloonText": "[[category]] [[title]]: <br> <b>$[[value]]</b>",
        "fillAlphas": 0.9,
        "lineAlpha": 0.2,
        "title": "2004",
        "type": "column",
        "valueField": "year1"
    }, {
        "balloonText": "[[category]] [[title]]: <br> <b>$[[value]]</b>",
        "lineColor": "#B8860B",
        "fillColors": "#B8860B",
        "fillAlphas": 0.9,
        "lineAlpha": 0.5,
        "title": {{ titulo[0] }},
        "type": "column",
        "clustered":true,
        "valueField": "year4"
    },{
        "balloonText": "[[category]] [[title]]: <br> <b>$[[value]]</b>",

        "fillAlphas": 0.9,
        "lineAlpha": 0.5,
        "title": {{ titulo[1] }},
        "type": "column",
        "clustered":true,
        "valueField": "year3"
    },{
        "balloonText": "[[category]] [[title]]: <br> <b>$[[value]]</b>",

        "fillAlphas": 0.9,
        "lineAlpha": 0.5,
        "title": {{ titulo[2] }},
        "type": "column",
        "clustered":true,
        "valueField": "year2"
    }],
    "depth3D": 15,
	"angle": 35,
    "chartCursor": {
    "pan": true,
    "valueLineEnabled": true,
    "valueLineBalloonEnabled": true,
    "avoidBalloonOverlapping": true,
    "cursorAlpha": 0,
    "valueLineAlpha": 1.5
    },
    "plotAreaFillAlphas": 0.1,
    "categoryField": "mes",
    "categoryAxis": {
        "gridPosition": "start"
    },
    "legend": {
    "useGraphSettings": true,
    "position": "top",
    "valueText":"$ [[value]]"
  },
  "balloon": {
    "borderThickness": 3,
    "shadowAlpha": 0,
    "fontSize": 16
  },
    "export": {
    	"enabled": true
    }

});

</script>


<script>
           /*--------------------------------------------------------------------------------------------------*/
          /*----------------------GRAFICA COMPARATIVA total %  -----------------------------------------------*/
         /*--------------------------------------------------------------------------------------------------*/
    var chart = AmCharts.makeChart("chartdiv5", {
    "theme": "light",
    "fontSize":17,
    "type": "serial",
    "dataDateFormat": "YYYY-MM",
    "dataProvider": {{ mekko | safe }},


    "categoryField": "date",
  "chartScrollbar": {

    "oppositeAxis": false,
    "offset": 30,
    "scrollbarHeight": 50,
    "backgroundAlpha": 0,
    "selectedBackgroundAlpha": 0.1,
    "selectedBackgroundColor": "#888888",
    "graphFillAlpha": 0,
    "graphLineAlpha": 0.5,
    "selectedGraphFillAlpha": 0,
    "selectedGraphLineAlpha": 1,
    "autoGridCount": true,
    "color": "#AAAAAA"
  },

    "categoryAxis": {
        "parseDates": true,
        "minPeriod": "MM",

        "gridAlpha": 1,
        "axisAlpha": 1,
        "widthField": "total",
        "gridPosition": "start",
         "equalSpacing":true
    },
     "chartCursor": {
    "pan": true,
    "valueLineEnabled": true,
    "valueLineBalloonEnabled": true,
    "cursorAlpha": 0,
    "valueLineAlpha": 1.5
  },

    "valueAxes": [{
        "stackType": "100% stacked",
        "gridAlpha": 0.1,
        "unit": "%",
        "axisAlpha": 0
    }],

    "graphs": [
        {
            "title": "Resto",
            "labelText": "$[[value]]",
            "valueField": "RestoD",
            "type": "column",
            "fillAlphas": 1,
            "balloonText": "[[title]]: <br> <b>$[[value]]</b>"
        }, {
            "title": "Punta",
            "labelText": "$[[value]]",
            "valueField": "PuntaD",
            "type": "column",
            "fillAlphas": 1,
            "balloonText": "[[title]]: <br> <b>$[[value]]</b>"

        },

        {
            "title": "Valle",
            "labelText": "$[[value]]",
            "valueField": "ValleD",
            "type": "column",
            "fillAlphas": 1,
            "balloonText": "[[title]]: <br> <b>$[[value]]</b>"
        },
        {
            "title": "Potencia",
            "labelText": "$[[value]]",
            "valueField": "PotenciaD",
            "type": "column",
            "fillAlphas": 1,
            "balloonText": "[[title]]: <br> <b>$[[value]]</b>"
        }
    ],

    "legend": {
        "useGraphSettings": true,
    "position": "top",
    "valueText":"$ [[value]]"
    },
    "export":
     {
     "enabled":true
     }
});
</script>


<script>
           /*--------------------------------------------------------------------------------------------------*/
          /*----------------------GRAFICA COMPARATIVA FACTOR DE POTENCIA--------------------------------------*/
         /*--------------------------------------------------------------------------------------------------*/
            {%for elemento in range(longitud) %}
                var chartData{{ nombres_fp[elemento] }} = {{ factor[elemento] | safe }};

            {% endfor %}

			//noinspection JSUnresolvedFunction
            AmCharts.makeChart("chartdiv6", {

				type: "stock",
				addClassNames: true,

                dataDateFormat: "YYYY-MM",



				categoryAxesSettings: {
						minPeriod: "MM"
					},

				dataSets: [
                    {% for elemento in range(longitud) %}
                        {
                            title: "{{ nombres_fp[elemento] | safe }}",

                            fieldMappings: [{
                                fromField: "fp",
                                toField: "fp"
                            }],
                            dataProvider: chartData{{ nombres_fp[elemento] }},

                            categoryField: "date"
                        },

                    {% endfor %}

				],

				panels: [{
                    fontSize:17,
					valueAxis: "fp",
					recalculateToPercents: "never",
					showCategoryAxis: true,
					title: "Factor de Potencia",
					percentHeight: 100,


					stockGraphs: [{

						id: "g1",
						type: "smoothedLine",
                        negativeBase: 90.0,
                        negativeLineColor: "#800080",
						valueField: "fp",
						lineThickness: 3,
						comparable: true,
						compareField: "fp",
						bullet: "round",
						//bulletBorderColor: "#FFFFFF",
						bulletColor:"#FFFFFF",
						bulletBorderAlpha: 0.1,
						balloonText: "[[title]]:<b>[[value]]</b>",
                        compareGraphType:"smoothedLine",
						compareGraphBalloonText: "[[title]]:<b>[[value]]</b>",
						compareGraphBullet: "round",
						compareGraphBulletBorderColor: "#FFFFFF",
						compareGraphBulletBorderAlpha: 1,
                        compareGraphLineThickness:3,

                        ValueAxesSettings:{

                }

					}],



					stockLegend: {
						//periodValueTextComparing: "[[value.close]]%",
						//periodValueTextRegular: "[[value.close]]"
					}
				},

				],



				chartScrollbarSettings: {
					graph: "g1",
					updateOnReleaseOnly:false
				},

				chartCursorSettings: {
					valueBalloonsEnabled: true,
					valueLineEnabled:true,
					valueLineBalloonEnabled:true
				},

				periodSelector: {
					position: "left",
					periods: [{


						period: "YYYY",
						count: 1,
                        selected: true,
						label: "1 año"
					},{
						period: "YYYY",
						count: 2,
                        label: "2 años"
					},{
						period: "YYYY",
						count: 5,
                        label: "5 años"
					},  {
						period: "MAX",

						label: "MAX"
					}],
                    inputFieldsEnabled:"true",
                    periodsText:"Rango",
                    fromText:"Desde",
                    dateFormat:"MM-YYYY",
                    toText:"Hasta"
				},

				dataSetSelector: {
					position: "left"
				},

                "export": {
                    "enabled": true
                }
			});
		</script>

            <script>

           /*--------------------------------------------------------------------------------------------------*/
          /*---------------------GRAFICA COMPARATIVA DEMANDA DE POTENCIA--------------------------------------*/
         /*--------------------------------------------------------------------------------------------------*/
            //noinspection JSUnresolvedFunction
            var chart = AmCharts.makeChart("chartdiv7", {
  "type": "serial",
  "theme": "light",

  "dataDateFormat": "YYYY-MM",
   "addClassNames": true,
  "fontSize":17,
  "precision": 2,
  "valueAxes": [{
    "id": "v1",
    "title": "Costo",
    "position": "left",
    "autoGridCount": false,
    "labelFunction": function(value) {
      return "$" + Math.round(value);
    }
  }, {
    "id": "v2",
    "title": "Demanda de Potencia",
    "gridAlpha": 0,
    "position": "right",
    "autoGridCount": false,
    "labelFunction": function(value) {
      return Math.round(value) + "KW";
  }}],
  "graphs": [{
    "id": "g2",
    "valueAxis": "v2",
    "bullet": "round",
    "bulletBorderAlpha": 1,
    "bulletColor": "#FFFFFF",
    "bulletSize": 5,
    "hideBulletsCount": 50,
    "lineThickness": 3,
    "lineColor": "#228B22",
    "type": "smoothedLine",
    "dashLength": 5,
    "title": "Demanda Pot.",
    "useLineColorForBulletBorder": true,
    "valueField": "PotenciaE",
    "clustered": false,
    "legendValueText": "[[value]]Kw",
    "balloonText": "[[title]]<br/><b style='font-size: 130%'>[[value]]Kw</b>"
  },{
    "id": "g1",
    "valueAxis": "v1",
    "bullet": "round",
    "bulletBorderAlpha": 1,
    "bulletColor": "#FFFFFF",
    "bulletSize": 5,
    "hideBulletsCount": 50,
    "lineThickness": 3,
    "lineColor": "#4169E1",
    "type": "smoothedLine",
    "title": "Costo de Potencia__",
    "useLineColorForBulletBorder": true,
    "valueField": "PotenciaD",
    "clustered": false,
    "legendValueText": "$[[value]]",
    "balloonText": "[[title]]<br/><b style='font-size: 130%'>$[[value]]</b>"
  }],
  "chartScrollbar": {
    "graph": "g1",
    "oppositeAxis": false,
    "offset": 30,
    "scrollbarHeight": 50,
    "backgroundAlpha": 0,
    "selectedBackgroundAlpha": 0.1,
    "selectedBackgroundColor": "#888888",
    "graphFillAlpha": 0.2,
    "graphLineAlpha": 0.5,
    "selectedGraphFillAlpha": 0,
    "selectedGraphLineAlpha": 1,
    "autoGridCount": true,
    "color": "#AAAAAA"
  },
  "chartCursor": {
    "pan": true,
    "valueLineEnabled": true,
    "valueLineBalloonEnabled": true,
    "cursorAlpha": 0,
    "valueLineAlpha": 1.5
  },
  "categoryField": "date",
  "categoryAxis": {
	  "minPeriod": "MM",
    "parseDates": true,
    "dashLength": 1,
    "minorGridEnabled": true
  },
  "legend": {
    "useGraphSettings": true,
    "position": "top"
  },
  "balloon": {
    "borderThickness": 3,
    "shadowAlpha": 0
  },
  "export": {
   "enabled": true
  },
  "dataProvider":{{ potencia | safe }}
});
      </script>